.title {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 0;
    margin-bottom: 1rem;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }